@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
$antique-brass: #b98b73ff;
$antique-brass-2: #cb997eff;
$desert-sand: #ddbea9ff;
$champagne-pink: #ffe8d6ff;
$bone: #d4c7b0ff;
$ash-gray: #b7b7a4ff;
$artichoke: #a5a58dff;
$ebony: #6b705cff;
$black-olive: #3f4238ff;
$interspace: 10px;
$rounding: 4px;

button {
  appearance: none;
  background-color: $artichoke;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  color: $black-olive;
  height: 40px;
  width: 40px;
  font-size: 20px;
}

ul {
  list-style-type: disc;
}

body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  color: $champagne-pink;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $ebony;
  border-radius: $rounding;
  padding: 10px;
  h1,
  h2 {
    letter-spacing: 3px;
    font-weight: 700;
  }
}

#topbar {
  height: 9vh;
  border-bottom: $interspace solid $artichoke;
  #topbar-icons {
    display: flex;
    align-items: center;
    button {
    }
  }
}

main {
  background-color: $artichoke;
  height: 90vh;
  display: flex;
  nav {
    background-color: $ebony;
    border-radius: $rounding;
    height: 100%;
    width: 300px;
  }
}

.todos {
  padding: 0px $interspace;
  h2 {
    background-color: $ebony;
    margin: 0;
  }
  width: 500px;
  border-right: $interspace solid $ebony;
}

.filter {
  i {
    position: relative;
    top: 2px;
  }
}

.task {
  background-color: $black-olive;
  border-radius: $rounding;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  button {
    background-color: $ebony;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    height: 20px;
    width: 20px;
    &:hover {
      background-color: $black-olive;
    }
  }
  i {
    opacity: 50%;
  }
}
